html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans, Arial, sans-serif;
}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

.page-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 710px;
    padding-bottom: 150px;
    text-align: center;
    color: #fff;
    background: #3b404c url('../img/bg.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    padding: 25px 0;
}

.header-nav {
    margin: auto;
    margin-right: 0;
}

.header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 3px 28px;
    text-decoration: none;
    opacity: .69;
    color: inherit;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav a:active {
    color: #3b404c;
}

.header-nav li:last-child a {
    padding-right: 0;
}

.page-header .title {
    font-family: Lora, 'Times New Roman', serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 23px;
    margin: 195px 0 90px;
    text-align: center;
}

.page-header .desc {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 23px;
    margin: 60px 0 80px;
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-radius: 36px;
    background-color: #00a5ff;
    -webkit-box-shadow: 0 2px 4.8px .3px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 4.8px .3px rgba(0, 0, 0, .25);
}

.header-btn {
    font-size: 25px;
    font-weight: 600;
    padding: 25px 50px 25px 70px;
}

.btn:hover {
    opacity: .5;
}

.btn:active {
    background-color: #3b404c;
    -webkit-box-shadow: 0 0 4px 0 #fff;
    box-shadow: 0 0 4px 0 #fff;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 45px 0 75px;
}

.section-title {
    font-family: Lora, 'Times New Roman', serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 23px;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 30px 0 60px;
    padding-bottom: 30px;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-title::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 146px;
    height: 4px;
    margin-left: -73px;
    content: '';
    background-color: #00a5ff;
}

.service-title {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #3a3f4b;
}

.service-title::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    margin-left: -20px;
    content: '';
    background-color: #3a3f4b;
}

.services-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(25% - 30px);
}

.service-item a::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    content: '';
    border-radius: 50%;
}

.service-item .logo-design::before {
    background: #f5f6f8 url('../img/services_sprite.png') no-repeat -142px 3px;
}

.service-item .web-design::before {
    background: #f5f6f8 url('../img/services_sprite.png') no-repeat -223px 3px;
}

.service-item .branding::before {
    background: #f5f6f8 url('../img/services_sprite.png') no-repeat 8px 3px;
}

.service-item .illustrate::before {
    background: #f5f6f8 url('../img/services_sprite.png') no-repeat -64px 0;
}

.services-box a {
    padding-top: 95px;
    text-decoration: none;
}

.services-box .info {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0;
    text-align: center;
    color: #999;
}

.portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 80px;
    text-align: center;
    background-color: #f5f6f8;
}

.category-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    padding-top: 40px;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.category-filters li {
    margin-right: 60px;
    color: #999;
}

.category-filters li:last-child {
    margin-right: 0;
}

.category-filters a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.category-filters .active,
.category-filters a:hover {
    color: #00a5ff;
}

.category-filters .active a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #63b7e6;
}

.pf-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pf-item {
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    -ms-flex-preferred-size: calc(33% - 7px);
    flex-basis: calc(33% - 7px);
}

.pf-item:nth-child(3n) {
    margin-right: 0;
}

.pf-item img {
    vertical-align: top;
    -o-object-fit: none;
    object-fit: none;
}

.category {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 30px;
    text-align: left;
    color: #999;
    background-color: #f4f5f9;
}

.category a {
    text-decoration: none;
    color: inherit;
}

.category a:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
    text-decoration-style: double;
    -webkit-text-decoration-color: #00a5ff;
    text-decoration-color: #00a5ff;
}

.category a:active {
    color: #00a5ff;
}

.portfolio-btn {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 50px;
    padding: 22px 64px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 31px;
    background-color: #00a5ff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 35px 0 95px;
}

.brands-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-box a {
    margin-right: 75px;
    opacity: .4;
}

.brands-box a:last-child {
    margin-right: 0;
}

.brands-box a:hover {
    opacity: 1;
}

.reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f5f6f8;
}

.reviews-slider {
    position: relative;
    min-height: 410px;
}

.slider-wrap {
    margin: 0 25px;
}

.reviews-slider .toggle {
    display: none;
}

.users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.users li {
    margin-right: 80px;
}

.users li:last-child {
    margin-right: 0;
}

.slides {
    position: relative;
    min-height: 410px;
}

.comments blockquote {
    font-family: Lora, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    right: 0;
    left: 0;
    max-width: 560px;
    margin: auto;
    margin-top: 55px;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    text-align: center;
    opacity: 0;
    color: #3a3f4b;
}

.comments .author {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    display: block;
    margin-top: 40px;
}

.comments .author a {
    color: inherit;
}

.users img {
    width: 108px;
    height: 108px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    vertical-align: top;
    opacity: .3;
}

.reviews-slider .right-controls,
.reviews-slider .left-controls {
    position: absolute;
    top: 50%;
    width: 17px;
    height: 32px;
    margin-top: -24px;
    outline: 1px solid #000;
}

.reviews-slider .left-controls {
    left: 0;
}

.reviews-slider .right-controls {
    right: 0;
}

.left-controls label,
.right-controls label {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.right-controls label::after,
.left-controls label::after {
    display: block;
    width: 17px;
    height: 32px;
    content: '';
    cursor: pointer;
    background: url('../img/social_sprite.png') no-repeat -45px -46px;
}

.left-controls label::after {
    background: url('../img/social_sprite.png') no-repeat -85px -5px;
}

.reviews-slider .bottom-controls {
    font-size: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bottom-controls label:not(:last-child) {
    margin-right: 17px;
}

.bottom-controls label::after {
    display: inline-block;
    width: 12px;
    height: 12px;
    content: '';
    cursor: pointer;
    border-radius: 50%;
    background-color: #999;
}

#slide-1:checked~.slides .bottom-controls label[for='slide-1']::after,
#slide-2:checked~.slides .bottom-controls label[for='slide-2']::after,
#slide-3:checked~.slides .bottom-controls label[for='slide-3']::after {
    background-color: #202635;
}

#slide-1:checked~.slides .users .slide-1 img,
#slide-2:checked~.slides .users .slide-2 img,
#slide-3:checked~.slides .users .slide-3 img {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 1;
}

#slide-1:checked~.slides .comments .slide-1,
#slide-2:checked~.slides .comments .slide-2,
#slide-3:checked~.slides .comments .slide-3 {
    z-index: 2;
    opacity: 1;
}

#slide-1:checked~.slides .right-controls label[for='slide-2'],
#slide-1:checked~.slides .left-controls label[for='slide-3'],
#slide-2:checked~.slides .right-controls label[for='slide-3'],
#slide-2:checked~.slides .left-controls label[for='slide-1'],
#slide-3:checked~.slides .right-controls label[for='slide-1'],
#slide-3:checked~.slides .left-controls label[for='slide-2'] {
    z-index: 3;
    opacity: 1;
}

.contacts {
    padding: 75px 0 25px;
    color: #fff;
    background-color: #3b404c;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts-title {
    font-family: Lora, 'Times New Roman', serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.footer-menu {
    margin-left: auto;
}

.footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 43px;
    text-decoration: none;
    color: inherit;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-btm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 95px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contacts-info {
    font-style: normal;
}

.contacts-info ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style: none;
}

.contacts-item {
    margin-bottom: 65px;
}

.contacts-item .info-title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contacts-item p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #999;
}

.contacts-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.message-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 770px;
    flex-basis: 770px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 65px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.form-item:first-child {
    margin-right: 50px;
}

.form-item label {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 15px;
}

.form-item textarea {
    min-height: 105px;
}

.whole-width {
    margin-bottom: 40px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.form-field {
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 23px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    background-color: transparent;
}

.form-field:focus {
    border-bottom: 1px solid #00a5ff;
}

.form-btn {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 23px;
    padding: 20px 55px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 31px;
    background-color: #00a5ff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.copyright {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right-info {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    color: #999;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.social-btn {
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn:hover {
    opacity: .7;
}

.social .tw {
    background: url('../img/social_sprite.png') no-repeat -74px -49px;
}

.social .fb {
    background: url('../img/social_sprite.png') no-repeat -45px -5px;
}

.social .cp {
    background: url('../img/social_sprite.png') no-repeat -5px -5px;
}

.social .in {
    background: url('../img/social_sprite.png') no-repeat -5px -46px;
}

.scroll-up {
    position: absolute;
    top: -40%;
    left: 50%;
    width: 75px;
    height: 75px;
    margin-left: -34px;
}

.scroll-up::after {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 67px;
    height: 67px;
    content: '';
    border-radius: 50%;
    background: #00a5ff url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMzA2IDMwNiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgZmlsbD0iI2ZmZiI+ICAgIDxnIGlkPSJhcnJvdy11cCI+ICAgICAgICA8cG9seWdvbiBwb2ludHM9IjM1LjcsMjQ3LjM1IDE1MywxMzAuMDUgMjcwLjMsMjQ3LjM1IDMwNiwyMTEuNjUgMTUzLDU4LjY1IDAsMjExLjY1Ij48L3BvbHlnb24+ICAgIDwvZz48L3N2Zz4=) no-repeat 50% 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.scroll-up:hover::after {
    -webkit-box-shadow: 0 0 2px 2px #202635;
    box-shadow: 0 0 2px 2px #202635;
}

.scroll-up:active::after {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}